@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300&display=swap");
body {
  font: 100% "Roboto Condensed", sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

.background-angle {
  content: "";
  float: top;
  position: fixed;
  top: -20px;
  left: -50%;
  width: 150%;
  height: 130px;
  background: #DE9B43;
  transform: skewY(-3deg);
  z-index: 0;
}

.icon, a.active, a:hover, a, .full-width {
  z-index: 1;
  overflow: hidden;
}

.full-width {
  width: 100%;
}

a {
  width: 60px;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

a.active {
  background-color: #4CAF50;
  color: white;
}

.icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*# sourceMappingURL=index.css.map */
