@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300&display=swap');
$font-stack: 'Roboto Condensed', sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  margin: 0;
  padding: 0;
}

// body:before {
//   content: "";
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: -250%;
//   width: 150%;
//   background: #DE9B43;
//   transform: skew(-85deg);
// }
.background-angle{
  content: "";
    float: top;
    position: fixed;
    top: -20px;
    left: -50%;
    width: 150%;
    height: 130px;
    background: #DE9B43;
    transform: skewY(-3deg);
    z-index: 0;
}
%topnav{
  z-index: 1;
  overflow: hidden;
}
.full-width{
  @extend %topnav;
  width: 100%;
}
a {
  @extend %topnav;
  width: 60px;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

a:hover{
  @extend %topnav;
  background-color: #ddd;
  color: black;
}

a.active {
  @extend %topnav;
  background-color: #4CAF50;
  color: white;
}

.icon {
  @extend %topnav;
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .responsive { position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}